<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feather Shop221B</title>
</head>
<body class="container mt-5">
    <nav>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
        <a href="{% url 'cart' %}">Cart</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>
